<% provide(:title,"Notice") %>
<h1>Notice</h1>
<% @notices.each do |notice| %>
  <div class="notices">
    <div class="left">
       <%= notice.text %>
    </div>
    <div class="right">
       <%= notice.created_at %>
    </div>
  </div>
<% end %>
<%= link_to("All delete notices", "/notices/#{current_user.id}",{ method: :delete, class: "button" }) %>
