<%= form_for(@user, url: yield(:url)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :real_name %>
  <%= f.text_field :real_name, class: 'form-control' %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.label :website %>
  <%= f.text_field :website, class: 'form-control' %>

  <%= f.label "Self introduction" %>
  <%= f.text_field :pr, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  
  <%= f.label :tel %>
  <%= f.text_field :tel, class: 'form-control' %>
  
  <%= f.label :sex %>
  <%= f.select(:sex, [['Male','Male'], ['Female','Female']]) %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>