<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <ul class="favorits-list">
        <li><h3><%= link_to "Microposts (#{@user.microposts.count})","/users/#{params[:id]}", {class: "colorress"} %></h3></li>
        <li><h3>Favorits (<%= @user.likes.count %>)</h3></li>
      </ul>
      <ol class="microposts">
        <!-- ここからレンダー可能域  -->
        <% @likes.each do |like|  %>
          <% micropost = Micropost.find_by(id: like.micropost_id) %>
          <li id="micropost-<%= micropost.id %>">
            <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
            <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
            <span class="content">
              <%= micropost.content %>
              <%= image_tag micropost.picture.url if micropost.picture? %>
            </span>
            <span class="timestamp">
              Posted <%= time_ago_in_words(micropost.created_at) %> ago.
              <% if current_user?(micropost.user) %>
                <%= link_to "delete", micropost, method: :delete,
                                                 data: { confirm: "You sure?" } %>
              <% end %>
            </span>
            <% if Like.find_by(user_id: current_user.id, micropost_id: micropost.id) %>
              <%= link_to("/likes/#{micropost.id}/destroy",{method: "post"}) do %>
                <i class="fas fa-heart"></i>
              <% end %>
            <% else %>
              <%= link_to("/likes/#{micropost.id}/create",{method: "post"}) do %>
                <i class="far fa-heart"></i>
              <% end %>
            <% end %>
            <%= Like.where(micropost_id: micropost.id).count %>
          </li>
        <% end %>
        <!-- ここまで  -->
      </ol>
      <%= will_paginate @likes %>
    <% end %>
  </div>
</div>