<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-2">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <div class="self-introduction">
      <h3>Self-introduction</h3>
      <%= @user.pr %>
    </div>
  </aside>
  <div class="col-md-10">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
    <ul class="favorits-list">
      <li><h3>Microposts (<%= @user.microposts.count %>)</h3></li>
      <li><h3><%= link_to "Favorits (#{@user.likes.count})","/users/#{params[:id]}/likes", {class: "colorress"} %></h3></li>
    </ul>
      <ol class="microposts">
        <div class="row">
          <%= render @microposts %>
        </div>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>