<!-- @microposts.each do | micropost |  -->
<li id="micropost-<%= micropost.id %>" class="col-md-4 plus-border">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= link_to micropost_path(micropost), {remote: true, class: "no-line"} do %>
      <%= micropost.content %>
      <%= image_tag micropost.picture.url ,{class: "image-size"} if micropost.picture?  %>
    <% end %>
    <div id="micropost-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    </div>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <% if Like.find_by(user_id: current_user.id, micropost_id: micropost.id) %>
    <%= link_to("/likes/#{micropost.id}/destroy",{method: "post"}) do %>
      <i class="fas fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to("/likes/#{micropost.id}/create",{method: "post"}) do %>
      <i class="far fa-heart"></i>
    <% end %>
  <% end %>
  <%= Like.where(micropost_id: micropost.id).count %>
  <div class="comment-form">
    <% if logged_in? %>
      <%= form_tag("/microposts/#{micropost.id}/comments", {method: :post}) do %>
        <textarea name="text" placeholder="Are you comment?" row="2" cols="30"></textarea>
        <input type="submit" value="SENT">
      <% end %>
  <% end %>
  </div>
</li>