  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="micropost">
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          <%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>
          <div class="user"><%= link_to @micropost.user.name, @micropost.user %></div>
          <div class="image">
            <%= image_tag @micropost.picture.url if @micropost.picture? %>
          </div>
          <div class="owner-comment">
            <b><%= @micropost.content %></b>
          </div>
          <div class="comments">
            <% if @comments%>
              <% @comments.each do |comment| %>
                <p>
                  <%= link_to comment.user.name, "/users/#{comment.user_id}" %>:
                  <%= comment.text %>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
  </div>