<% provide(:title, "") %>
    <div class="micropost">
      <%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>
      <div class="user"><%= link_to @micropost.user.name, @micropost.user %></div>
      <div class="image">
        <%= image_tag @micropost.picture.url if @micropost.picture? %>
      </div>
      <div class="owner-comment">
        <b><%= @micropost.content %></b>
      </div>
      <div class="timestamp-comment">
        Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
        <% if current_user?(@micropost.user) %>
          <%= link_to "delete", @micropost, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
      </div>
      <div class="like-comment">
        <% if Like.find_by(user_id: current_user.id, micropost_id: @micropost.id) %>
          <%= link_to("/likes/#{@micropost.id}/destroy",{method: "post"}) do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to("/likes/#{@micropost.id}/create",{method: "post"}) do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
        <%= Like.where(micropost_id: @micropost.id).count %>
      </div> 
      <div class="comment-form">
        <% if logged_in? %>
          <%= form_tag("/microposts/#{@micropost.id}/comments", {method: :post}) do %>
            <textarea name="text" placeholder="Are you comment?" row="2" cols="30"></textarea>
            <input type="submit" value="SENT">
          <% end %>
      <% end %>
      </div>
      <div class="comments">
        <% if @comments%>
          <% @comments.each do |comment| %>
            <p>
              <%= link_to comment.user.name, "/users/#{comment.user_id}" %>:
              <%= comment.text %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
