.micropost {
    margin: 0 auto;
    width: 400px;
}

.image {
    margin: 50px auto 0 auto;
    width: 400px;
}

.owner-comment{
    margin-top: 10px;
    margin-bottom: 20px;
}

.timestamp-comment {
    display: inline-block;
    float: left;
}

.like-comment {
    float: right;
}