.left {
  float: left;
}

.right {
  float: right;
}

.notices {
  height: 30px;
  margin-top: 10px;
  border-bottom: medium solid black;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 7px;
  color: yellow;
  background-color: blue;
  text-decoration: none;
}